#catalog {
    text-align: start;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.product {
    width: 20%;
    padding: 2.5%;
}

.product:hover {
    cursor: pointer;
}

.product img {
    width: 100%;
}

.product-name {
    font-weight: 300;
    font-size: 1rem;
}

.product-name:hover {
    color: var(--red);
}

.product-price {
    display: flex;
    font-size: 1.5rem;
    align-content: center;
}

.monetary-symbol {
    font-size: 0.5em;
    line-height: 23px;
}