::selection{
    background: var(--primary-color);
    color: var(--secondary-color);
}

.wrapper{
    width: 30%;
    background: var(--primary-bg-color);
    border-radius: 15px;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    margin-left: auto;
    margin-right: auto;
}

.wrapper .title{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    padding: 0.5rem;
    color: var(--primary-color);
    user-select: none;
    border-radius: 15px 15px 0 0;
    background: var(--primary-bg-color);
}

.wrapper form{
    padding: 10px 30px 50px 30px;
}

.wrapper form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.wrapper form .field input{
    height: 100%;
    width: 90%;
    outline: none;
    font-size: 17px;
    padding-left: 10%;
    border: 1px solid var(--secondary-bg-color);
    border-radius: 5px;
    transition: all 0.3s ease;
}
.wrapper form .field input:focus,
form .field input:valid{
    border-color: var(--primary-color);
}

.wrapper form .field label{
    position: absolute;
    top: 50%;
    left: 20px;
    color: var(--secondary-bg-color);
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

form .field input:focus ~ label,
form .field input:valid ~ label{
    top: 0%;
    font-size: 16px;
    color: var(--primary-color);
    background: var(--primary-bg-color);
    transform: translateY(-50%);
}

form .content{
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
}

form .content .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

form .content input {
    width: 15px;
    height: 15px;
    background: var(--third-bg-color);
}

form .content label {
    color: var(--third-color);
    user-select: none;
    padding-left: 5px;
}
form .content .pass-link {
    color: var(--third-bg-color);
}

form .field input[type="submit"] {
    color: var(--secondary-color);
    border: none;
    padding-left: 0;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: var(--green-lighter);
}
form .field input[type="submit"]:active{
    transform: scale(0.95);
}
form .form-link{
    color: var(--third-color);
    margin-top: 20px;
    text-align: center;
}
form .pass-link a,
form .form-link a{
    color: var(--blue);
    text-decoration: none;
}
form .pass-link a:hover,
form .form-link a:hover{
    text-decoration: underline;
}

#lead {
    font-style: italic;
    font-size: 0.5em;
    font-weight: 300;
}